#myvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}

.content {
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

h1,
p {
    text-align: center;
}

img {
    width: 700px;
}

p{
    size: 2;
}
